body{
    background-image: 
    url(/public/img/wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700590751.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}